#site-table{
    color:black;
}

#site-table_filter{
    display:none;
}

#modulo-table{
    color: black;
}

#layout-details{
    color:black;
}

#visite-generali{
    background: dodgerblue;

}

#ultimo-mese{
    background: orangered;
}

#ultimo-anno{
    background: forestgreen;
}

#ricerca-avanzata{
    background: blueviolet;
}

#username{
    font-style: normal;
}

.intro, body, html{
    background-color: white;
}