#client-table{
    color:black;

}

#client-table_filter{
    display:none;
}

#update-modal {
    color:black;
}

#layout-show-table{
    color:black;
}

#current-layout-table{
    color:black;
}

#sito_web_modal{
    color:black;
}


#site-table{
    color:black;
}

#list-site-modal{
    color:black;
}

