#modulo-table{
    color:black;

}

#modulo-modal {
    color:black;
}

#layout-table{
    color:black;

}

#developer-modal{
    color:black;
}

#developer-table{
    color: black;
}

#username{
    font-style: normal;
}

.intro, body, html{
    background-color: white;
}