#modulo-table{
    color:black;

}

#modulo-table_filter{
    display:none;
}

#update-modal {
    color:black;
}

#username{
    font-style: normal;
}

.intro, body, html{
    background-color: white;
}