#client-table{
    color:black;

}

#client-table_filter{
    display:none;
}

#site-table{
    color:black;
}

#list-site-modal{
    color:black;
}

#layout-table{
    color:black;
}

#layout-modal{
    color:black;
}

#developer-table{
    color:black;
}

#developer-table_filter{
    display:none;
}

#modulo-modal{
    color:black;
}

#layout-table-full{
    color:black;
}

#modulo-table{
    color:black;
}

#layout-table-full_filter{
    display:none;
}