#visite-generali{
    background: dodgerblue;

}

#ultimo-mese{
    background: orangered;
}

#ultimo-anno{
    background: forestgreen;
}

#ricerca-avanzata{
    background: yellow;
    color:black;
}