#visite-generali{
    background: dodgerblue;

}

#ultimo-mese{
    background: orangered;
}

#ultimo-anno{
    background: forestgreen;
}

#ricerca-avanzata{
    background: blueviolet;
}

#username{
    font-style: normal;
}

.intro, body, html{
    background-color: white;
}